#container{
    border: 1px black solid;
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#elemento1{
    border: 1px black solid;
    height: 100%;
    width: 100%;
    display: flex;
}

#elemento2{
    border: 1px black solid;
    height: 100%;
    width: 100%;
    display: flex;
}

#item1{
    border: 1px black solid;
    height: 100%;
    width: 23%;
}

#item2{
    border: 1px black solid;
    height: 50px;
    width: 23%;
}

#item3{
    border: 1px black solid;
    height: 50px;
    width: 23%;
}

#elemento3{
    border: 1px black solid;
    height: 50px;
    width: 500px;
    display: flex;  
}

#item4{
    border: 1px black solid;
    height: 50px;
    width: 165px;
}

#item5{
    border: 1px black solid;
    height: 50px;
    width: 165px;
}

#item6{
    border: 1px black solid;
    height: 50px;
    width: 165px;
}
